// Import any global variables from "../../variables/*.json"
@import "../../variables/colors.json";
@import "../../variables/spacing.json";
@import "../../variables/fonts.json";

// Local variables to the component
@import "variables.json";

@import "./react-select.css";

// An input box is a stylized <input />.
@mixin make-input-box($active-color: $brand-primary) {
  display: block;
  padding-left: 14px;
  height: (43px - 7px);
  line-height: (43px - 4px);
  padding-top: 4px;
  resize: none;

  font-family: $font-base;
  font-size: $font-size-base;

  color: $gray-darker;
  background-color: #fff;

  border: 1px solid $gray-light;
  border-radius: $border-radius-base;

  // On active, remove outline and add a border color.
  // NOTE: does this have accessibility concerns?
  outline: none;
  &:focus {
    border-color: $active-color;
  }
}

// If applying to a <select></select>, apply a few more styles.
@mixin make-input-box-select {
  position: relative;
  height: (43px - 2px);

  // Hide caret on select boxes.
  -webkit-appearance: none;
  -moz-appearance: none;

  // Add padding to right where the caret should be.
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;

  .Select-control {
    border-width: 0px;
    line-height: 34px;
    position: relative;
    top: 5px;
  }
  .Select-input {
    position: relative;
    top: -5px;
  }
  .Select-menu-outer {
    margin-top: 20px;
    border-radius: $border-radius-base;
  }
  .Select-option {
    padding-left: 10px;
    line-height: 22px;
    &:first-child { padding-top: 10px; }
    &:last-child { padding-bottom: 10px; }
  }
  .Select-option.is-focused {
    font-weight: bold;
    color: $brand-primary;
    background-color: transparent;
  }
}

// If applying to a <textarea></textarea>, apply a few more styles.
@mixin make-input-box-textarea {
  line-height: $line-height-base;
  padding-top: 16px;
  padding-bottom: 16px;
}

// If an input box is disabled
@mixin make-input-box-disabled {
  border-color: transparent;
  background-color: $gray-lightest;
  color: $gray;

  &::placeholder,
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    color: $gray;
    opacity: 1; // Placeholders in firefox have opacity be default. Undo that.
  }
}

.input-box { @include make-input-box; }
.input-box-select { @include make-input-box-select; }
.input-box-textarea { @include make-input-box-textarea; }
.input-box-disabled { @include make-input-box-disabled; }
