// Import any global variables from "../../variables/*.json"
@import "../../variables/colors.json";
@import "../../variables/spacing.json";
@import "../../variables/fonts.json";

// Local variables to the component
@import "variables.json";

// An input box is a stylized <input />.
@mixin make-input-box($active-color: $brand-primary) {
  display: block;
  padding-left: 14px;
  height: (43px - 7px);
  line-height: (43px - 4px);
  padding-top: 4px;
  resize: none;

  font-family: $font-base;
  font-size: $font-size-base;

  color: $gray-darker;
  background-color: #fff;

  border: 1px solid $gray-light;
  border-radius: $border-radius-base;

  // On active, remove outline and add a border color.
  // NOTE: does this have accessibility concerns?
  outline: none;
  &:focus {
    border-color: $active-color;
  }
}

// If applying to a <select></select>, apply a few different styles.
@mixin make-input-box-select {
  position: relative;
  height: 43px;
}

// If applying to a <textarea></textarea>, apply a few more styles.
@mixin make-input-box-textarea {
  line-height: $line-height-base;
  padding-top: 16px;
  padding-bottom: 16px;
}

// If an input box is disabled
@mixin make-input-box-disabled {
  border-color: transparent;
  background-color: $gray-lightest;
  color: $gray;

  &::placeholder,
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    color: $gray;
    opacity: 1; // Placeholders in firefox have opacity be default. Undo that.
  }
}

.input-box { @include make-input-box; }
.input-box-select { @include make-input-box-select; }
.input-box-textarea { @include make-input-box-textarea; }
.input-box-disabled { @include make-input-box-disabled; }
