// Import any global variables from "../../../variables/*.json"

// Local variables to the component
@import "variables.json";

.reportHorizonChartContainer {
  display: flex;
  flex-direction: row;
}

.reportHorizonChartTableText {
  line-height: 24px;
  font-size: 14px;
  padding-right:10px;
  padding-top: 2px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.reportHorizonChartVisualization {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}
