@import "../../variables/colors.scss";
@import "../../variables/spacing.scss";

.skeleton {
  display: inline-block;
  width: 100%;
  height: 8px;
  border-radius: $borderRadiusSmall;
  background-color: $gray300;
}
