// Colors
// -------------------------------------
$black: #0D183A;

$grayDarkest: #494F5C;
$grayDarker: #9CA1AC;
$grayDark: #B8C2CC;
$grayLight: #C9CED7;
$grayLighter: #E9ECEF;
$grayLightest: #F7F9FA;

$brandBlue: #5581FF;
$brandBlueLight: #DDE6FF;
$brandRed: #F46653;
$brandRedLight: #FFDCD9;
$brandYellow: #F4AB4E;
$brandYellowLight: #FFEED6;
$brandGreen: #249F70;
$brandGreenLight: #E0EDEC;
$brandPurple: #AB67B5;
$brandPurpleLight: #E4D5E6;

$brandPrimary: $black;
$brandEmphasis: $brandBlue;
$brandSuccess: $brandGreen;
$brandDanger: $brandRed;
$brandWarning: $brandYellow;



// Typography
// -------------------------------------
$fontBase: "Aeonik", "Helvetica", "Arial", sans-serif;
$fontMonospace: "Source Code Pro", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
$fontWeightNormal: 400;
$fontWeightMedium: 600;
$fontWeightBold: 900;



// Scaffolding
// -------------------------------------
$borderRadiusBase: 4px;
$borderRadiusSmall: 2px;

// Move this into the reports repo
// $reportRowHeight: 35px;



// Form Controls
// -------------------------------------
$formControlActiveColor: $brandEmphasis;

$inputFieldTextColor: $grayDarkest;
$inputFieldPlaceholderColor: $grayDarker;
$inputFieldBorderColor: $grayDark;
$inputFieldBorderActiveColor: $formControlActiveColor;



// Animations
// -------------------------------------
$timingBase: 250ms;
$timingSmall: 100ms;
$timingLarge: 350ms;
