<div class="date-range-picker date-range-picker-anchor-left">
  <div class="DateRangePicker">
    <div>
      <div class="DateRangePickerInput">
        <div class="DateInput DateInput--open-down">
          <input type="text" aria-label="Start Date" class="DateInput__input needsclick" id="startDate" name="startDate" value="" placeholder="Start Date" autoComplete="off" aria-describedby="DateInput__screen-reader-message-startDate" />
          <p id="DateInput__screen-reader-message-startDate" class="screen-reader-only">Press the down arrow key to interact with the calendar and select a date. Press the question mark key to get the keyboard shortcuts for changing dates.</p>
          <div class="DateInput__display-text">Start Date</div>
        </div>
        <div class="DateRangePickerInput__arrow" aria-hidden="true" role="presentation"><span>—</span></div>
        <div class="DateInput DateInput--open-down">
          <input type="text" aria-label="End Date" class="DateInput__input needsclick" id="endDate" name="endDate" value="" placeholder="End Date" autoComplete="off" aria-describedby="DateInput__screen-reader-message-endDate" />
          <p id="DateInput__screen-reader-message-endDate" class="screen-reader-only">Press the down arrow key to interact with the calendar and select a date. Press the question mark key to get the keyboard shortcuts for changing dates.</p>
          <div class="DateInput__display-text">End Date</div>
        </div>
      </div>
    </div>
  </div>
</div>
