// Import any global variables from "../../variables/*.json"
@import "../../../variables/colors.json";
@import "../../../variables/fonts.json";

// Local variables to the component
@import "variables.json";

// An indicator dot is used to show the status of something.
@mixin make-indicator-dot($font-size: $font-size-small, $indicator-size: 8px, $color: $gray) {
  font-family: $font-base;
  font-size: $font-size-small;

  &:after {
    content: " ";
    display: inline-block;

    // Spacing between the dot and label
    margin-left: $indicator-size / 2;

    background-color: $color;
    width: $indicator-size;
    height: $indicator-size;
    border-radius: 50%;
    line-height: $font-size-base;
  }
}

.indicator-dot-danger { @include make-indicator-dot($color: $brand-danger); }
.indicator-dot-success { @include make-indicator-dot($color: $brand-success); }
.indicator-dot-primary { @include make-indicator-dot($color: $brand-primary); }
.indicator-dot-gray { @include make-indicator-dot($color: $gray); }
