// Import any global variables from "../../../variables/*.json"
@import "../../../variables/colors.json";

.rollupWrapper {
  display: flex;
  flex-direction: column;
}

.rollupRow {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 35px;
}

.rollupRowText {
  flex-basis: calc(50% - 42px);
  margin-right: 10px;
  transform: translate(0px, 1px);

  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rollupRowBar {
  flex-basis: calc(50% + 42px);

  display: flex;
  flex-direction: row;
}

.rollupRowBarInner {
  height: 4px;
  background-color: $brand-primary-new;
  transform: translate(0px, 5px);
}

.rollupRowBarText {
  color: $brand-primary-new;
  font-weight: 600;
  font-size: 12px;
  margin-left: 10px;
  width: 32px;
  transform: translate(0px, 1px);
}
