// Import any global variables from "../../../variables/*.json"
@import "../../../variables/colors.json";
@import "../../../variables/spacing.json";
@import "../../../variables/fonts.json";

.toast {
  box-sizing: border-box;
  background-color: #fff;

  position: relative;

  width: 100%;

  border: 1px solid transparent; /* color overridden below based on toast type */
  border-radius: $border-radius-base;

  min-height: 72px;
  display: flex;
  flex-direction: row;

  font-family: $font-base;
  font-size: $font-size-base;

  &:hover .toast-dismiss { display: block; }
}
.toastPrimary { border-color: $brand-primary; }
.toastSuccess { border-color: $brand-success; }
.toastWarning { border-color: $brand-warning; }
.toastDanger { border-color: $brand-danger; }


// The toast icon is on the left side of the toast and contains a centered toast icon.
.toastIcon {
  width: 72px;

  font-size: $font-size-x-large;
  color: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.toastIconPrimary { background-color: $brand-primary; }
.toastIconSuccess { background-color: $brand-success; }
.toastIconWarning { background-color: $brand-warning; }
.toastIconDanger { background-color: $brand-danger; }

.toastIconGlyph {
  width: 72px;
  text-align: center;
}

// The toast body is the right side of the toast; it contains an optional toast header and toast
// text.
.toastBody {
  height: auto;

  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;

  cursor: default;
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 16px;
  margin-right: 16px;
}

// The header of the toast. THis is within a toast body.
.toastHeader {
  font-size: $font-size-base;
  font-weight: 500;

  margin-top: 15px;
  margin-bottom: 5px;
}
.toastHeaderPrimary { color: $brand-primary; }
.toastHeaderSuccess { color: $brand-success; }
.toastHeaderWarning { color: $brand-warning; }
.toastHeaderDanger { color: $brand-danger; }

// The main content of the toast. This is within a toast body.
.toastText {
  color: $gray-cinder;
  margin-bottom: 12px;
  text-align: left;

  // If the toast doesn't have a title above it, add a similar amount of margin to its top such
  // that its content remains centered in the flex parent.
  &.noTitle { margin-top: 12px; }
}

// The "dismissal" x button in the upper left corner of the toast.
.toastDismiss {
  position: absolute;
  top: 15px;
  right: 15px;

  color: $gray-dark;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  // display: none;
  &:hover { opacity: 0.8; }
  &:active { opacity: 1; }
}
