// Import any global variables from "../../../variables/*.json"
@import "../../variables/colors.json";

.reportHourlyBreakdown {
  width: 100%;
  table-layout: fixed;
}

.reportHourlyBreakdown th {
  font-weight: normal;
  font-size: 12px;
  color: $gray-dark;
  line-height: 16px;
  padding-bottom: 4px;
}
.headerLineOne { display: block; }

.reportHourlyBreakdown td {
  color: #fff;
  background-color: $gray; /* a default, this is overridden in the component */

  line-height: 15px;
  text-align: center;
  font-size: 11px;
  padding-top: 3px;
  width: auto;
}

.reportHourlyBreakdown th:first-child { width: 32px; }
.reportHourlyBreakdown td:first-child {
  color: $gray-cinder;
  font-size: 12px;
  background-color: transparent;
  text-align: left;
}
