// Import any global ../variables from "../../../variables/*.scss"
@import "../../variables/colors.scss";
@import "../../variables/spacing.scss";
@import "../../variables/fonts.scss";

.datePickerContainer {
  // Styles from `react-dates`. This was stolen from the react dates package
  :global(.CalendarDay__button:active),
  :global(.DayPickerKeyboardShortcuts__close:active),
  :global(.DayPickerKeyboardShortcuts__show:active),
  :global(.DayPicker__focus-region) {
    outline: 0;
  }
  :global(.SingleDatePickerInput--rtl),
  :global(.SingleDatePicker__picker--rtl) {
    direction: rtl;
  }
  :global(.CalendarDay) {
    border: 1px solid #e4e7e7;
    padding: 0;
    box-sizing: border-box;
    color: #565a5c;
    cursor: pointer;
  }
  :global(.CalendarDay__button) {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    box-sizing: border-box;
  }
  :global(.CalendarDay--highlighted-calendar) {
    background: #ffe8bc;
    color: #565a5c;
    cursor: default;
  }
  :global(.CalendarDay--highlighted-calendar:active),
  :global(.CalendarDay--outside:active) {
    background: #fff;
  }
  :global(.CalendarDay--outside) {
    border: 0;
    cursor: default;
  }
  :global(.CalendarDay--hovered) {
    background: #e4e7e7;
    border: 1px double #d4d9d9;
    color: inherit;
  }
  :global(.CalendarDay--blocked-minimum-nights) {
    color: #cacccd;
    background: #fff;
    border: 1px solid #e4e7e7;
    cursor: default;
  }
  :global(.CalendarDay--blocked-minimum-nights:active) {
    background: #fff;
  }
  :global(.CalendarDay--selected-span) {
    background: 0 0;
    border: 1px double #4e5457;
    color: #fff;
  }
  :global(.CalendarDay--selected-span.CalendarDay--hovered),
  :global(.CalendarDay--selected-span:active) {
    background: #4e5457;
    border: 1px double #4e5457;
  }
  :global(.CalendarDay--selected-span.CalendarDay--last-in-range) {
    border-right: #4e5457;
  }
  :global(.CalendarDay--after-hovered-start),
  :global(.CalendarDay--hovered-span) {
    background: #4e5457;
    border: 1px double #4e5457;
    color: #fff;
  }
  :global(.CalendarDay--after-hovered-start:active),
  :global(.CalendarDay--hovered-span:active) {
    background: #4e5457;
  }
  :global(.CalendarDay--selected),
  :global(.CalendarDay--selected-end),
  :global(.CalendarDay--selected-start) {
    background: 0 0;
    border: 1px double;
    color: #fff;
  }
  :global(.CalendarDay--selected-end:active),
  :global(.CalendarDay--selected-start:active),
  :global(.CalendarDay--selected:active) {
    background: #4e5457;
  }
  :global(.CalendarDay--blocked-calendar) {
    background: #cacccd;
    color: #82888a;
    cursor: default;
  }
  :global(.CalendarDay--blocked-calendar:active) {
    background: #cacccd;
  }
  :global(.CalendarDay--blocked-out-of-range) {
    color: #cacccd;
    background: #fff;
    border: 1px solid #e4e7e7;
    cursor: default;
  }
  :global(.CalendarDay--blocked-out-of-range:active) {
    background: #fff;
  }
  :global(.CalendarMonth) {
    text-align: center;
    padding: 0 13px;
    vertical-align: top;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  :global(.CalendarMonth table) {
    border-collapse: collapse;
    border-spacing: 0;
    caption-side: initial;
  }
  :global(.CalendarMonth--horizontal:first-of-type),
  :global(.CalendarMonth--vertical:first-of-type) {
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }
  :global(.CalendarMonth--horizontal) {
    display: inline-block;
    min-height: 100%;
  }
  :global(.CalendarMonth--vertical) {
    display: block;
  }
  :global(.CalendarMonth__caption) {
    color: #3c3f40;
    margin-top: 7px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 2px;
    caption-side: initial;
  }
  :global(.CalendarMonth--horizontal .CalendarMonth__caption),
  :global(.CalendarMonth--vertical .CalendarMonth__caption) {
    padding: 15px 0 40px;
  }
  :global(.CalendarMonth--vertical-scrollable .CalendarMonth__caption) {
    padding: 5px 0;
  }
  :global(.CalendarMonthGrid) {
    background: #fff;
    z-index: 0;
    text-align: left;
  }
  :global(.CalendarMonthGrid--animating) {
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    z-index: 1;
  }
  :global(.CalendarMonthGrid--horizontal) {
    position: absolute;
    left: 9px;
  }
  :global(.CalendarMonthGrid--vertical) {
    margin: 0 auto;
  }
  :global(.CalendarMonthGrid--vertical-scrollable) {
    margin: 0 auto;
    overflow-y: scroll;
  }
  :global(.DayPicker) {
    background: #fff;
    position: relative;
    text-align: left;
  }
  :global(.DayPicker--horizontal) {
    background: #fff;
    border: 1px solid $gray300;
    box-shadow: 0px 2px 4px rgba($gray900, 0.1);
    border-radius: $borderRadiusBase;
  }
  :global(.DayPicker--horizontal.DayPicker--portal) {
    box-shadow: none;
    position: absolute;
    left: 50%;
    top: 50%;
  }
  :global(.DayPicker--vertical.DayPicker--portal) {
    position: initial;
  }
  :global(.DayPicker__week-headers) {
    position: relative;
  }
  :global(.DayPicker--horizontal .DayPicker__week-headers) {
    margin-left: 9px;
  }
  :global(.DayPicker__week-header) {
    color: #757575;
    position: absolute;
    top: 62px;
    z-index: 2;
    padding: 0 13px;
    text-align: left;
  }
  :global(.DayPicker__week-header ul) {
    list-style: none;
    margin: 1px 0;
    padding-left: 0;
    padding-right: 0;
  }
  :global(.DayPicker__week-header li) {
    display: inline-block;
    text-align: center;
  }
  :global(.DayPicker--vertical .DayPicker__week-header) {
    left: 50%;
  }
  :global(.DayPicker--vertical-scrollable) {
    height: 100%;
  }
  :global(.DayPicker--vertical-scrollable .DayPicker__week-header) {
    top: 0;
    display: table-row;
    border-bottom: 1px solid #4e5457;
    background: #fff;
    margin-left: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  :global(.DayPicker--vertical-scrollable .transition-container--vertical) {
    padding-top: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: scroll;
  }
  :global(.transition-container) {
    position: relative;
    overflow: hidden;
    border-radius: $borderRadiusBase;
  }
  :global(.transition-container--horizontal) {
    transition: height 0.2s ease-in-out;
  }
  :global(.transition-container--vertical) {
    width: 100%;
  }
  :global(.DayPickerNavigation__next),
  :global(.DayPickerNavigation__prev) {
    cursor: pointer;
    line-height: 0.78;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  :global(.DayPickerNavigation__next--default),
  :global(.DayPickerNavigation__prev--default) {
    border: 1px solid $gray300;
    background-color: #fff;
    color: #757575;
  }
  :global(.DayPickerNavigation__next--default:active),
  :global(.DayPickerNavigation__prev--default:active) {
    border: 1px solid $blue;
  }
  :global(.DayPickerNavigation--horizontal) {
    position: relative;
  }
  :global(.DayPickerNavigation--horizontal .DayPickerNavigation__next),
  :global(.DayPickerNavigation--horizontal .DayPickerNavigation__prev) {
    border-radius: 4px;
    padding: 6px 9px;
    top: 18px;
    z-index: 2;
    position: absolute;
  }
  :global(.DayPickerNavigation--horizontal .DayPickerNavigation__prev) {
    left: 22px;
  }
  :global(.DayPickerNavigation--horizontal .DayPickerNavigation__prev--rtl) {
    left: auto;
    right: 22px;
  }
  :global(.DayPickerNavigation--horizontal .DayPickerNavigation__next) {
    right: 22px;
  }
  :global(.DayPickerNavigation--horizontal .DayPickerNavigation__next--rtl) {
    right: auto;
    left: 22px;
  }
  :global(.DayPickerNavigation--horizontal .DayPickerNavigation__next--default svg),
  :global(.DayPickerNavigation--horizontal .DayPickerNavigation__prev--default svg) {
    height: 19px;
    width: 19px;
    fill: #82888a;
  }
  :global(.DayPickerNavigation--vertical) {
    background: #fff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 52px;
    width: 100%;
    z-index: 2;
  }
  :global(.DayPickerNavigation--vertical .DayPickerNavigation__next),
  :global(.DayPickerNavigation--vertical .DayPickerNavigation__prev) {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 50%;
  }
  :global(.DayPickerNavigation--vertical .DayPickerNavigation__next--default) {
    border-left: 0;
  }
  :global(.DayPickerNavigation--vertical .DayPickerNavigation__next--default),
  :global(.DayPickerNavigation--vertical .DayPickerNavigation__prev--default) {
    text-align: center;
    font-size: 2.5em;
    padding: 5px;
  }
  :global(.DayPickerNavigation--vertical .DayPickerNavigation__next--default svg),
  :global(.DayPickerNavigation--vertical .DayPickerNavigation__prev--default svg) {
    height: 42px;
    width: 42px;
    fill: #484848;
  }
  :global(.DayPickerNavigation--vertical-scrollable) {
    position: relative;
  }
  :global(.DayPickerNavigation--vertical-scrollable .DayPickerNavigation__next) {
    width: 100%;
  }
  :global(.DayPickerKeyboardShortcuts__close),
  :global(.DayPickerKeyboardShortcuts__show) {
    background: 0 0;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    cursor: pointer;
  }
  :global(.DayPickerKeyboardShortcuts__show) {
    width: 22px;
    position: absolute;
    z-index: 2;
  }
  :global(.DayPickerKeyboardShortcuts__show--bottom-right) {
    border-top: 26px solid transparent;
    border-right: 33px solid #4e5457;
    bottom: 0;
    right: 0;
  }
  :global(.DayPickerKeyboardShortcuts__show--bottom-right:hover) {
    border-right: 33px solid #00514a;
  }
  :global(.DayPickerKeyboardShortcuts__show--bottom-right .DayPickerKeyboardShortcuts__show_span) {
    bottom: 0;
    right: -28px;
  }
  :global(.DayPickerKeyboardShortcuts__show--top-right) {
    border-bottom: 26px solid transparent;
    border-right: 33px solid #4e5457;
    top: 0;
    right: 0;
  }
  :global(.DayPickerKeyboardShortcuts__show--top-right:hover) {
    border-right: 33px solid #00514a;
  }
  :global(.DayPickerKeyboardShortcuts__show--top-right .DayPickerKeyboardShortcuts__show_span) {
    top: 1px;
    right: -28px;
  }
  :global(.DayPickerKeyboardShortcuts__show--top-left) {
    border-bottom: 26px solid transparent;
    border-left: 33px solid #4e5457;
    top: 0;
    left: 0;
  }
  :global(.DayPickerKeyboardShortcuts__show--top-left:hover) {
    border-left: 33px solid #00514a;
  }
  :global(.DayPickerKeyboardShortcuts__show--top-left .DayPickerKeyboardShortcuts__show_span) {
    top: 1px;
    left: -28px;
  }
  :global(.DayPickerKeyboardShortcuts__show_span) {
    color: #fff;
    position: absolute;
  }
  :global(.DayPickerKeyboardShortcuts__panel) {
    overflow: auto;
    background: #fff;
    border: 1px solid #4e5457;
    border-radius: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    padding: 22px;
    margin: 33px;
  }
  :global(.DayPickerKeyboardShortcuts__title) {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }
  :global(.DayPickerKeyboardShortcuts__list) {
    list-style: none;
    padding: 0;
  }
  :global(.DayPickerKeyboardShortcuts__close) {
    position: absolute;
    right: 22px;
    top: 22px;
    z-index: 2;
  }
  :global(.DayPickerKeyboardShortcuts__close svg) {
    height: 15px;
    width: 15px;
    fill: #cacccd;
  }
  :global(.DayPickerKeyboardShortcuts__close svg:focus),
  :global(.DayPickerKeyboardShortcuts__close svg:hover) {
    fill: #82888a;
  }
  :global(.KeyboardShortcutRow) {
    margin: 6px 0;
  }
  :global(.KeyboardShortcutRow__key-container) {
    display: inline-block;
    white-space: nowrap;
    text-align: right;
    margin-right: 6px;
  }
  :global(.KeyboardShortcutRow__key) {
    font-family: monospace;
    font-size: 12px;
    text-transform: uppercase;
    background: #f2f2f2;
    padding: 2px 6px;
  }
  :global(.KeyboardShortcutRow__action) {
    display: inline;
    word-break: break-word;
    margin-left: 8px;
  }
  :global(.DayPickerKeyboardShortcuts__panel--block .KeyboardShortcutRow) {
    margin-bottom: 16px;
  }
  :global(.DayPickerKeyboardShortcuts__panel--block .KeyboardShortcutRow__key-container) {
    text-align: left;
    display: inline;
  }
  :global(.DayPickerKeyboardShortcuts__panel--block .KeyboardShortcutRow__action) {
    display: inline;
  }
  :global(.DateInput) {
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    color: #757575;
    margin: 0;
    padding: 8px;
    background: #fff;
    position: relative;
    display: inline-block;
    width: 96px;
    vertical-align: middle;
  }
  :global(.DateInput--with-caret::after),
  :global(.DateInput--with-caret::before) {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: auto;
    border: 10px solid transparent;
    left: 22px;
    z-index: 2;
  }
  :global(.DateInput--open-down.DateInput--with-caret::after),
  :global(.DateInput--open-down.DateInput--with-caret::before) {
    border-top: 0;
  }
  :global(.DateInput--open-down.DateInput--with-caret::before) {
    top: 62px;
    border-bottom-color: rgba(0, 0, 0, 0.1);
  }
  :global(.DateInput--open-down.DateInput--with-caret::after) {
    top: 63px;
    border-bottom-color: #fff;
  }
  :global(.DateInput--open-up.DateInput--with-caret::after),
  :global(.DateInput--open-up.DateInput--with-caret::before) {
    border-bottom: 0;
  }
  :global(.DateInput--open-up.DateInput--with-caret::before) {
    top: -24px;
    border-top-color: rgba(0, 0, 0, 0.1);
  }
  :global(.DateInput--open-up.DateInput--with-caret::after) {
    top: -25px;
    border-top-color: #fff;
  }
  :global(.DateInput--disabled) {
    background: #cacccd;
  }
  :global(.DateInput__input) {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    height: 100%;
    width: 100%;
  }
  :global(.DateInput__input[readonly]) {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  :global(.DateInput__display-text) {
    height: 25px !important;
    padding: 4px 8px;
    white-space: nowrap;
    overflow: hidden;
  }
  :global(.DateInput__display-text--has-input) {
    color: #484848;
  }
  :global(.DateInput__display-text--focused) {
    border-color: $midnight;
    border-radius: $borderRadiusBase;
    color: #007a87;
  }
  :global(.DateInput__display-text--disabled) {
    font-style: italic;
  }
  :global(.screen-reader-only) {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  :global(.SingleDatePicker) {
    position: relative;
    display: inline-block;
  }
  :global(.SingleDatePicker__picker) {
    z-index: 1;
    background-color: #fff;
    position: absolute;
  }
  :global(.SingleDatePicker__picker--direction-left) {
    left: 0;
  }
  :global(.SingleDatePicker__picker--direction-right) {
    right: 0;
  }
  :global(.SingleDatePicker__picker--open-down) {
    top: 72px;
  }
  :global(.SingleDatePicker__picker--open-up) {
    bottom: 72px;
  }
  :global(.SingleDatePicker__picker--portal) {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  :global(.SingleDatePicker__picker--full-screen-portal) {
    background-color: #fff;
  }
  :global(.SingleDatePicker__close) {
    background: 0 0;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    z-index: 2;
  }
  :global(.SingleDatePicker__close svg) {
    height: 15px;
    width: 15px;
    fill: #cacccd;
  }
  :global(.SingleDatePicker__close:focus),
  :global(.SingleDatePicker__close:hover) {
    color: #b0b3b4;
    text-decoration: none;
  }
  :global(.SingleDatePickerInput__calendar-icon),
  :global(.SingleDatePickerInput__clear-date) {
    color: inherit;
    overflow: visible;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
  }
  :global(.SingleDatePickerInput) {
    background-color: #fff;
    border: 1px solid #4e5457;
  }
  :global(.SingleDatePickerInput__clear-date) {
    background: 0 0;
    border: 0;
    font: inherit;
    line-height: normal;
    margin: 0 10px 0 5px;
  }
  :global(.SingleDatePickerInput__clear-date svg) {
    fill: #82888a;
    height: 12px;
    width: 15px;
    vertical-align: middle;
  }
  :global(.SingleDatePickerInput__clear-date--hide) {
    visibility: hidden;
  }
  :global(.SingleDatePickerInput__clear-date--hover),
  :global(.SingleDatePickerInput__clear-date:focus) {
    background: #4e5457;
    border-radius: 50%;
  }
  :global(.SingleDatePickerInput__calendar-icon) {
    background: 0 0;
    border: 0;
    font: inherit;
    line-height: normal;
    margin: 0 5px 0 10px;
  }
  :global(.SingleDatePickerInput__calendar-icon svg) {
    fill: #82888a;
    height: 15px;
    width: 14px;
    vertical-align: middle;
  }
}

.datePickerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.datePickerIcon {
  transform: translate(0px, 3px);
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 1;
  }
}
.datePickerIconDisabled {
  cursor: default;
  &:hover {
    opacity: 1;
  }
}
.datePickerIconLeft {
  margin-right: 14px;
}
.datePickerIconRight {
  margin-left: 14px;
}

.datePicker {
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  height: (43px - 6px);
  padding-top: 1px;
  resize: none;

  font-family: $fontBase;
  font-size: $fontSizeBase;
  font-weight: normal;

  color: $gray500;
  background-color: #fff;

  border: 1px solid $gray300;
  border-radius: $borderRadiusBase;

  // On active, remove outline and add a border color.
  &:focus {
    border-color: $blue;
  }

  // These are applied in order to modify the styling of the react dates package.
  :global(.SingleDatePickerInput) {
    height: 30px;
    padding-top: 3px;
    border: 0px;
  }
  :global(.DateInput) {
    font-weight: $fontWeightBase;
    font-size: $fontSizeBase;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    position: static;
    display: block;
    transform: translate(0px, 2px);
  }
  :global(input[type="text"]) {
    cursor: pointer;
    color: $gray700;
  }
  :global(.SingleDatePicker) {
    width: 96px;
    text-align: center;
  }
  :global(.SingleDatePicker__picker) {
    top: 48px;
  }
  :global(.DateInput__display-text) {
    color: $gray700;
  }
  :global(.DayPickerKeyboardShortcuts__show) {
    display: none;
  }

  :global(.DateInput--open-down.DateInput--with-caret::before) {
    opacity: 0;
  }
  :global(.DateInput--open-down.DateInput--with-caret::after) {
    opacity: 0;
  }

  :global(.CalendarDay--selected-start),
  :global(.CalendarDay--selected-end),
  :global(.CalendarDay--selected) {
    background: $midnight;
    border: 1px double $midnight;
    color: #fff;
  }
}
.datePickerAnchorLeft {
  // Adjust the position of the picker popup
  :global(.SingleDatePicker__picker) {
    left: -46px !important;
  }
}
.datePickerAnchorRight {
  // Adjust the position of the picker popup
  :global(.SingleDatePicker__picker) {
    left: -176px !important;
  }
}
.datePickerFocused {
  border-color: $blue;
}

// Custom contexts
.contextAnalyticsControlBar.datePicker {
  padding: 0;
  border-color: transparent;
  &:focus,
  &.datePickerFocused {
    border-color: $midnight;
  }
}
.contextAnalyticsControlBar.datePicker .datePickerIconLeft,
.contextAnalyticsControlBar.datePicker .datePickerIconRight {
  display: none;
}
.contextAnalyticsControlBar.datePicker :global(.SingleDatePickerInput) {
  border-radius: $borderRadiusBase;
}
.contextAnalyticsControlBar.datePicker :global(.DateInput) {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  color: #0d183a;
  padding-left: 12px;
  padding-right: 32px;
  margin-right: -32px;
}
.contextAnalyticsControlBar.datePicker :global(.SingleDatePicker__picker) {
  left: 0 !important;
}
