// Import any global variables from "../../../variables/*.json"
@import '../../../variables/colors.json';

// Local variables to the component
@import "variables.json";

.chartContainer {
  width: 100%;
}

.timePeriod {
  color: $gray-dark;
  font-size: 14px;
}
.header {
  font-size: 16px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 15px;
}
.headerHighlight {
  font-weight: bold;
}
