@import "../../variables/colors.json";
@import "variables.json";

.switch {
  label {
    outline: 0;
    display: inline-block;
    width: $switchBaseWidth;
    height: $switchBaseHeight;
    position: relative;
    cursor: pointer;
    user-select: none;
    background-color: $gray;
    border-radius: $switchBaseHeight;
    transition: all 200ms ease;

    &:after {
      position: relative;
      display: block;
      content: "";
      width: $switchHandleSize + $switchHandleBorderSize;
      height: $switchHandleSize + $switchHandleBorderSize;

      box-sizing: border-box;
      left: -1 * $switchHandleBorderSize;
      top: -1 * $switchHandleBorderSize;
      border-radius: 50%;
      background: #fff;
      border: $switchHandleBorderSize solid $gray;
      transition: all 200ms ease;
    }
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked + label {
    background-color: $brandPrimary;

    &:after {
      left: calc(50% + #{$switchHandleBorderSize});
      border-color: $brandPrimary;
    }
  }
}
