@import "../../variables/colors.json";

.appBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  height: 64px;
  padding: 0 24px;
  border-bottom: 1px solid $gray-light;
}

.appBarSection {
  display: flex;
  align-items: center;
}

.appBarTitle {
  font-size: 24px;
  font-weight: medium;
}

// Rules for "TRANSPARENT" context
.appBarTransparent {
  border-bottom: none;
  padding: 0;
}
