@import "../../variables/colors.json";
@import "../../variables/spacing.json";
@import "../../variables/fonts.json";

.appBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  height: 64px;
  padding: 0 24px;
  border-bottom: 1px solid $gray-light;
  font-family: $font-base;
}

.appBarSection {
  display: flex;
  align-items: center;
}

.appBarTitle {
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

// Rules for "TRANSPARENT" context
.contextTransparent.appBar {
  border-bottom: none;
  padding: 0;
}

// Rules for "BOTTOM_ACTIONS" context
.contextBottomActions.appBar {
  border-top: 1px solid $gray-light;
  border-bottom: none;
  background: $gray-lightest;
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
}
