// Import any global variables from "../../../variables/*.json"
@import "../../../variables/colors.json";
@import "../../../variables/spacing.json";

// Local variables to the component
@import "variables.json";

$report-daily-visits-per-segment-large-row-height: 50px;

.verticalLayout {
  display: flex;
  flex-direction: column;
  table-layout: fixed;
}

.maximumMinimumStatement {
  line-height: 24px;
  margin-bottom: 10px;

  font-size: 14px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.maximumMinimumStatementHighlight {
  font-weight: bold;
  white-space: nowrap;
}
.maximumMinimumStatementTitle {
  @extend .maximumMinimumStatementHighlight;
  color: $report-blue;

  &.light {
    color: $report-blue-light;
  }
}
.maximumMinimumStatementRowContainer {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.tableWrapper {
  display: flex;
  flex-direction: row;
}



.segmentTableTimeSegmentLabels {
  display: flex;
  flex-direction: column;
}
.segmentTableTimeSegmentLabelCell {
  width: 85px;
  height: $report-row-height;

  margin: 0.5px;
  margin-right: 10px;
  font-size: 12px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  display: flex;
  flex-direction: row;
  align-items: center;

  transition: all 250ms ease-in-out;

  &:first-of-type { margin-top: $report-row-height + 2px; }

  // When the card gets bigger, make the height of each row larger.
  @media screen and (min-width: 768px) {
    height: $report-daily-visits-per-segment-large-row-height;
  }
}



.segmentTable {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.segmentTableRow {
  display: flex;
  flex-direction: row;
}

.segmentTableRowCellHeader {
  flex: 1;
  height: $report-row-height - (6px * 2);
  margin-top: 6px;
  margin-bottom: 6px;

  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  text-align: center;
  color: $gray-darker;
}

.segmentTableCell {
  background-color: $brand-primary;
  color: #fff;
  height: $report-row-height;
  flex: 1;
  margin: 0.5px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 250ms ease-in-out;

  line-height: 36px;
  font-size: 10px;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    height: $report-daily-visits-per-segment-large-row-height;
  }
}
.segmentTableMinMax {
  font-weight: bold;
}
.segmentTableValue {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline;
  }
}
