// Import any global variables from "../../variables/*.json"
@import "../../../variables/spacing.json";
@import "../../../variables/colors.json";
@import "../../../variables/fonts.json";

.pagerButton {
  display: inline-block;
  background-color: #fff;
  width: 22px;
  height: 22px;
  color: $gray;

  font-family: $font-base;
  font-size: 18px;

  cursor: pointer;
  user-select: none;

  text-align: center;
  padding: 6px;

  // The first and last buttons have a radius on them, this gives the whole assembly a "pill" shape.
  &:first-child {
    border-top-left-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
  }
  &:last-child {
    border-top-right-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
  }

  &:active {
    color: $gray-darker;
  }

  // Make sure neighboring buttons share only a single border.
  border: 1px solid $gray-lighter;
  & + & {
    border-left-width: 0px;
  }
}

.pagerButtonDisabled {
  opacity: 0.5;
  cursor: default;
  &:active {
    color: $gray;
  }
}
