// Import any global variables from "../../variables/*.scss"
@import "../../variables/colors.scss";
@import "../../variables/fonts.scss";

.infoPopupContainer {
  outline: none;
  position: relative;
}
.infoPopupIcon {
  cursor: pointer;
  margin-bottom: 20px;
}
.infoPopupIconVisible {
  padding-bottom: 20px;
}
.infoPopupStockTarget {
  vertical-align: top;
  vertical-align: -moz-middle-with-baseline;
  vertical-align: -webkit-baseline-middle;
  user-select: none;
  margin-left: 5px;
  margin-right: 5px;
}

.infoPopupWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
}
.infoPopupPopup {
  background-color: #fff;
  padding: 20px;

  border: 1px solid $gray;
  border-radius: 4px;

  font-family: $fontBase;
  font-size: $fontSizeBase;
  font-weight: normal;
  color: $grayCinder;

  position: absolute;
  top: 0px;
  left: 0px;

  display: block;
  width: 300px;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  z-index: 999;
}

.infoPopupPopupVisible {
  pointer-events: auto;
  user-select: auto;
  opacity: 1;
}

.infoPopupPopupSingleLine {
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: nowrap;
  width: auto;
}


.infoPopupCardWellHighlight { border-bottom: 1px dotted $grayCinder; }
.card-well-dark .info-popup-card-well-highlight { border-bottom: 1px dotted $gray; }
