// Import any global variables from "../../variables/*.scss"
@import "../../variables/spacing.scss";
@import "../../variables/colors.scss";
@import "../../variables/fonts.scss";

.pagerButton {
  display: inline-block;
  background-color: #fff;
  width: 22px;
  height: 22px;
  color: $gray;

  font-family: $fontBase;
  font-size: 18px;

  cursor: pointer;
  user-select: none;

  text-align: center;
  line-height: 19px;
  padding: 6px;

  // The first and last buttons have a radius on them, this gives the whole assembly a "pill" shape.
  &:first-child {
    border-top-left-radius: $borderRadiusBase;
    border-bottom-left-radius: $borderRadiusBase;
  }
  &:last-child {
    border-top-right-radius: $borderRadiusBase;
    border-bottom-right-radius: $borderRadiusBase;
  }

  &:active {
    color: $grayDarker;
  }

  // Make sure neighboring buttons share only a single border.
  border: 1px solid $grayLighter;
  & + & {
    border-left-width: 0px;
  }
}

.pagerButtonDisabled {
  opacity: 0.5;
  cursor: default;
  &:active {
    color: $gray;
  }
}
