// Import any global variables from "../../variables/*.json"
@import "../../variables/colors.json";
@import "../../variables/fonts.json";
@import "../../variables/grid.json";
@import "../../variables/spacing.json";

// Local variables to the component
@import "variables.json";


// A navbar is the wrapper component for all navbar parts.
@mixin make-navbar($full-width: true) {
  position: relative;
  z-index: $navbar-zindex;
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  height: $navbar-height;
  width: 100%;
  background-color: #FFF;
  border-bottom: 1px solid #F5F6F7;
  transition: box-shadow 200ms ease-in-out;
  font-family: 'Sailec', 'Helvetica', 'Arial', sans-serif !important;
}

// A navbar container makes a container-width navbar instead of a full width navbar.
@mixin make-navbar-container($width: $navbar-width) {
  max-width: $width;
  margin: 0px auto;
}

// A navbar brand contains the logo mark, left aligned on the status bar.
@mixin make-navbar-brand {
  display: inline-block;
  position: relative;
  z-index: $navbar-brand-zindex;
  height: $navbar-height;
  font-size: $navbar-brand-font-size;

  @media (min-width: $screen-xs-max) {
    float: left;
  }

  img {
    position: relative;
    top: ($navbar-height - $navbar-brand-height) / 2;
    height: $navbar-brand-height;
  }
}

// A navbar brand contains a subtitle that's next to a navbar brand. The react component uses the
// prop `subtitle` to represent the subtitle
@mixin make-navbar-brand-subtitle {
  position: relative;
  z-index: $navbar-brand-zindex;
  float: left;
  height: 56px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 56px;
  color: $gray;
}

// Create a normal navbar item
@mixin make-navbar-item($color: $gray-cinder, $underline-color: transparent, $font-weight: normal) {
  list-style-type: none;
  border-bottom: 3px solid $underline-color;
  height: $navbar-height - 3px;

  &:first-child {
    margin-left: 20px;
  }

  // Style each link. Typically, the link would be an `a`, but, if the link isn't clickable, it's
  // replaced with a span (an example of this would be if the `locked` prop is set to true).
  & > a, & > span {
    line-height: $navbar-height;
    color: $color;
    text-decoration: none;
    font-size: $font-size-base;
    font-weight: $font-weight;

    // Fun hack: https://stackoverflow.com/a/27850452/4115328
    // Adjust the letter spacing of such that the bold font is the same width as the non-bold one.
    // This crazy formula is completely sailec specific.
    @if $font-weight == bold {
      letter-spacing: -1 * ($font-size-base / 100);
    }

    text-align: center;

    padding: 0px 12px;
    margin: 0px 2px;
    display: inline-block;
  }

  // Don't show navbar items on small screens.
  display: none;
  @media (min-width: $screen-xs-max) {
    display: inline-block;
  }
}

@mixin make-navbar-item-locked {
  & > span {
    cursor: default;
    user-select: none;
    margin-right: 0px;
    color: $gray;
  }

  &:after {
    margin-right: 10px;
    font-family: 'Densicons';
    vertical-align: middle;
    content: '\e941';
    color: $brand-primary;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  // If the user hovers over the navbar item, show the tooltip.
  .navbar-item-tooltip { display: none; }
  &:hover .navbar-item-tooltip { display: block; }
}
@mixin make-navbar-item-tooltip($border-width: 1px, $caret-size: 6px) {
  position: absolute;

  max-width: 225px;
  min-height: 30px;
  font-size: $font-size-base;
  padding: 20px;

  background-color: #fff;
  border: $border-width solid $brand-primary;
  border-radius: $border-radius-base;

  // Position the navbar locked reason tooltip to be in line with the text of the navbar item above
  // it.
  margin-left: 16px;

  // Ensure that the tooltip cannot be interacted with.
  user-select: none;
  cursor: default;

  .navbar-item-tooltip-pointer {
    display: block;
    position: absolute;

    // Calculate the amount to offset the caret vertically so that only the top half of the square
    // will peek up over the top of the tooltip.
    top: -1 * ($caret-size / 1.414); // sqrt(2) = 1.414
    left: 30px;

    transform: rotate(45deg); // <- sqrt(2) because this is a 45-45-90 right triangle

    width: $caret-size;
    height: $caret-size;
    background-color: #fff;

    border-top: $border-width solid $brand-primary;
    border-left: $border-width solid $brand-primary;
  }
}

// The sidebar button rendered in the nav by the navbar component. Only visible on mobile.
@mixin make-navbar-sidebar-button {
  @include make-navbar-item;

  background-color: transparent;
  border-width: 0px;
  float: left;
  outline: none;

  user-select: none;
  margin-left: 0px;
  margin-right: 10px;
  height: 28px;
  border-radius: 30px;
  margin-top: 12px;
  font-size: 0;

  transition: all 100ms ease-in-out;
  cursor: pointer;

  // Only show sidebar button on small screens.
  display: inline-block;
  @media (min-width: $screen-xs-max) {
    display: none;
  }

  &:hover { background-color: $gray-light; }
  &:before {
    content: '\e924';

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: "Densicons";
    font-size: $font-size-base;
    &:hover { opacity: 0.8; }
    &:active { opacity: 1; }
  }
}

@mixin make-navbar-mobile-sidebar {
  display: block;
  background-color: #fff;
  z-index: $navbar-sidebar-zindex;

  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;

  // Start by moving the sidebar off of the screen
  position: relative;
  left: -100vw;
  top: -1 * $navbar-height;
  opacity: 0;

  // When the sidebar is opened, slide the sidebar back onto the screen.
  transition: all 250ms ease-in-out;
  &.open { left: 0px; opacity: 1; }
}

@mixin make-navbar-mobile-sidebar-close-button {
  float: right;
  font-family: "Densicons";
  color: $brand-primary;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin make-navbar-mobile-item($color: $gray-cinder) {
  display: block;
  margin-left: 0px;
  list-style-type: none;

  line-height: $font-size-base * 2;

  & > a {
    text-decoration: none;
    color: $color;
  }
}
@mixin make-navbar-mobile-item-locked {
  cursor: not-allowed;
  user-select: none;
  color: $gray;

  &:after {
    color: $brand-primary;
    margin-left: 10px;

    font-family: 'Densicons';
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\e941';
  }
}

.navbar { @include make-navbar; }
.navbar-brand { @include make-navbar-brand; }
.navbar-brand-subtitle { @include make-navbar-brand-subtitle; }
.navbar-container { @include make-navbar-container; }

// Styles for items within main navbar section.
.navbar-item { @include make-navbar-item; }
.navbar-item-active {
  @include make-navbar-item(
    $color: $gray-cinder,
    $underline-color: $brand-primary,
    $font-weight: bold
  );
}
.navbar-item-locked { @include make-navbar-item-locked; }
.navbar-item-tooltip { @include make-navbar-item-tooltip; }

// Create navbar mobile sidebar that opens when the user clicks an icon in the mobile navbar.
.navbar-sidebar-button { @include make-navbar-sidebar-button; }
.navbar-mobile-sidebar { @include make-navbar-mobile-sidebar; }
.navbar-mobile-sidebar { @include make-navbar-mobile-sidebar; }

// Create styles for items within mobile navbar section
.navbar-mobile-item { @include make-navbar-mobile-item; }
.navbar-mobile-item-active { @include make-navbar-mobile-item($color: $gray-darkest); }
.navbar-mobile-item-locked { @include make-navbar-mobile-item-locked; }

.navbar-mobile-sidebar-close-button { @include make-navbar-mobile-sidebar-close-button; }
