// Import any global variables from "../../variables/*.json"
@import "../../variables/colors.json";
@import "../../variables/fonts.json";
@import "../../variables/grid.json";

// Local variables to the component
@import "variables.json";


// A navbar is the wrapper component for all navbar parts.
@mixin make-navbar($full-width: true) {
  position: relative;
  z-index: $navbar-zindex;
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  height: $navbar-height;
  width: 100%;
  background-color: #FFF;
  border-bottom: 1px solid #F5F6F7;
  transition: box-shadow 200ms ease-in-out;
  font-family: 'Sailec', 'Helvetica', 'Arial', sans-serif !important;
}

// A navbar container makes a container-width navbar instead of a full width navbar.
@mixin make-navbar-container($width: $navbar-width) {
  max-width: $width;
  margin: 0px auto;
}

// A navbar brand contains the logo mark, left aligned on the status bar.
@mixin make-navbar-brand {
  display: inline-block;
  position: relative;
  z-index: $navbar-brand-zindex;
  float: left;
  height: $navbar-height;
  font-size: $navbar-brand-font-size;

  img {
    position: relative;
    top: ($navbar-height - $navbar-brand-height) / 2;
    height: $navbar-brand-height;
  }
}

// A navbar brand contains a subtitle that's next to a navbar brand. The react component uses the
// prop `subtitle` to represent the subtitle
@mixin make-navbar-brand-subtitle {
  position: relative;
  z-index: $navbar-brand-zindex;
  float: left;
  height: 56px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 56px;
  color: $gray;
}

@mixin make-navbar-item($color: $gray, $underline-color: transparent) {
  list-style-type: none;
  display: inline-block;
  border-bottom: 2px solid $underline-color;
  height: $navbar-height - 2px;

  &:first-child {
    margin-left: 20px;
  }

  // Style each link
  & > a {
    line-height: $navbar-height;
    color: $color;
    text-decoration: none;
    font-size: $font-size-base;

    padding: 8px 0px;
    margin: 0px 14px;
  }
}

.navbar { @include make-navbar; }
.navbar-brand { @include make-navbar-brand; }
.navbar-brand-subtitle { @include make-navbar-brand-subtitle; }
.navbar-container { @include make-navbar-container; }

.navbar-item { @include make-navbar-item; }
.navbar-item-active { @include make-navbar-item($color: $gray-darkest, $underline-color: $brand-primary); }
