// Import any global variables from "../../variables/*.json"
@import "../../variables/colors.json";
@import "../../variables/fonts.json";
@import "../../variables/grid.json";

$percentage-bar-sailec-baseline-hack: 2px;

$percentage-bar-container-height: 43px; // The "row height" of the container
$percentage-bar-height: 4px; // The height of the shaded bar itself within the container
$percentage-bar-percentage-text-spacing: 8px; // Spacing to the left of the formatted percentage

.percentageBarContainer {
  font-family: $font-base;
  display: flex;
  flex-direction: row;
  width: 100%;

  color: $brand-primary;
  line-height: $percentage-bar-container-height;
}

// The utilization bar that visually represents space utilization in a horizontal fashion
.percentageBar {
  // overridden in media query below
  display: none;
  background-color: $gray-light;

  width: 100%;
  height: $percentage-bar-height;
  flex: 1;

  margin-top: (
    (($percentage-bar-container-height - $percentage-bar-height) / 2) -
    $percentage-bar-sailec-baseline-hack
  );

  @media (min-width: $screen-xs-max) {
    display: inline-block;
  }
}
.percentageBarColoredSection {
  // a width is set as an inline style in the component, which overrides the style set below
  width: 0%;

  background-color: $brand-primary;
  height: $percentage-bar-height;
  transition: all 250ms ease-in-out;
}

.percentageBarText {
  width: 32px;
  margin-right: $percentage-bar-percentage-text-spacing;
  font-weight: bold;
  font-size: 14px;

  @media (min-width: $screen-xs-max) {
    text-align: right;
    width: 48px;
  }
}

.percentageBarTextDisabled {
  color: $gray;
  font-size: $font-size-large;
}
