// Import any global variables from "../../../variables/*.json"

.dashboardReportGrid {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.dashboardReportGridColumn {
  flex: 1;
  width: 320px;

  display: flex;
  flex-direction: column;

  margin-left: 12px;
  margin-right: 12px;
  &:first-of-type { margin-left: 0px; }
  &:last-of-type { margin-right: 0px; }
}
.dashboardReportGridCell {
  margin-top: 12px;
  margin-bottom: 12px;
}
