$grayCinder: #222A2E;
$grayDarkest: #445158;
$grayDarker: #8E9299;
$grayDark: #B4B8BF;
$gray: #CBCFD6;
$grayLight: #E8E8ED;
$grayLighter: #F0F0F2;
$grayLightest: #FAFAFA;
$brandPrimary: #2C4EB9;
$brandPrimaryNew: #2C4EB9;
$brandPrimaryLight: #B6C6F6;
$brandSuccess: #80CD80;
$brandDanger: #FF7A68;
$brandWarning: #FFBA08;
$brandMuted: $grayDarkest;
$textColorBase: $grayDarkest;
$textColorLight: #8E9299;
$textColor: $textColorLight;
$headerColor: #4E5457;
$inputFieldTextColor: #CBCFD6;
$inputFieldTextActiveColor: #4E5457;
$inputFieldPlaceholderColor: #9B9B9B;
$inputFieldBorderColor: $grayDark;
$reportBlueLight: #97A6D4;
$reportGreen: #4E8475;
$reportYellow: #F9B35B;
$reportOrange: #F26B40;
$reportRed: #FF7B6C;
