// Colors
// -------------------------------
$white:                 #fff;
$midnight:              #0D183A;
$midnightOpaque80:      rgba($midnight, 0.8);
$midnightOpaque40:      rgba($midnight, 0.4);
$midnightOpaque20:      rgba($midnight, 0.2);
$midnightOpaque10:      rgba($midnight, 0.1);
$midnightOpaque05:      rgba($midnight, 0.05);
$blue:                  #5581FF;
$blueLight:             #DDE6FF;
$blueDark:              #2749AA;
$red:                   #FF624D;
$redLight:              #FFDCD9;
$redDark:               #B4301E;
$yellow:                #F4AB4E;
$yellowLight:           #FFEED6;
$yellowDark:            #C07619;
$purple:                #AB67B5;
$purpleLight:           #E4D5E6;
$purpleDark:            #7A3A84;
$green:                 #249F70;
$greenLight:            #E0EDEC;
$greenDark:             #09613F;
$gray000:               #FAFBFC;
$gray100:               #F6F8FA;
$gray200:               #E1E4E8;
$gray300:               #D1D5DA;
$gray400:               #959DA5;
$gray500:               #6A737D;
$gray600:               #586069;
$gray700:               #444D56;
$gray800:               #2F363D;
$gray900:               #24292E;

// LEGACY COLORS
$grayCinder: #222A2E;
$grayDarkest: #445158;
$grayDarker: #8E9299;
$grayDark: #B4B8BF;
$gray: #CBCFD6;
$grayLight: #E8E8ED;
$grayLighter: #F0F0F2;
$grayLightest: #FAFAFA;
$brandPrimary: #2C4EB9;
$brandPrimaryNew: #2C4EB9;
$brandPrimaryLight: #B6C6F6;
$brandSuccess: #80CD80;
$brandDanger: #FF7A68;
$brandWarning: #FFBA08;
$brandMuted: $grayDarkest;
$textColorBase: $grayDarkest;
$textColorLight: #8E9299;
$textColor: $textColorLight;
$headerColor: #4E5457;
$inputFieldTextColor: #CBCFD6;
$inputFieldTextActiveColor: #4E5457;
$inputFieldPlaceholderColor: #9B9B9B;
$inputFieldBorderColor: $grayDark;
$reportBlueLight: #97A6D4;
$reportGreen: #4E8475;
$reportYellow: #F9B35B;
$reportOrange: #F26B40;
$reportRed: #FF7B6C;
