// Import any global variables from "../../../variables/*.json"
@import "../../../variables/colors.json";

// Local variables to the component
@import "variables.json";

.utilizationBar {
  width: 100%;
  height: 25px;
  color: #fff;

  display: flex;
  flex-direction: row;
}

.region {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}
.region.under { background-color: $brand-primary; }
.region.normal { background-color: $report-yellow; }
.region.over { background-color: $report-red; }

.utilizationLabels {
  padding-left: 0px;
  list-style-type: none;
  line-height: 30px;

  margin-top: 20px;
  margin-bottom: 0px;

  color: $gray-darkest;
}

.utilizationLabels li {
  font-size: 14px;
}
.utilizationLabels li:before {
  content: '';

  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;

  background-color: red;
  transform: translate(0px, -1px);
  margin-right: 10px;
}
.utilizationLabels li.under:before { background-color: $brand-primary; }
.utilizationLabels li.normal:before { background-color: $report-yellow; }
.utilizationLabels li.over:before { background-color: $report-red; }

.textAbove .label {
  font-size: 10px;
  transform: translate(0px, -22px);
}
.textAbove.under { color: $brand-primary; }
.textAbove.normal { color: $report-yellow; }
.textAbove.over { color: $report-red; }
