// Import any global ../variables from "../../../variables/*.scss"
@import "../../variables/colors.scss";
@import "../../variables/fonts.scss";
@import "../../variables/spacing.scss";

.button {
  box-sizing: border-box;

  height: 40px;
  color: $brandPrimary;
  background-color: #fff;
  outline: none;
  border: 1px solid $grayDarker;
  border-radius: $borderRadiusBase;

  font-family: $fontBase;
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  cursor: pointer;
  user-select: none;
  transition: all 100ms ease-in-out;

  padding-left: 16px;
  padding-right: 16px;

  &:hover { opacity: 0.9; }
  &:active { opacity: 1; }
  &:disabled {
    opacity: 0.5;
    cursor: default;
    &:hover { opacity: 0.5; }
  }
}

.small {
  font-weight: normal;
  height: 24px;
  font-size: 13px;
  padding-left: 4px;
  padding-right: 4px;
}
.large {
  height: 50px;
  font-size: 18px;
}

.primary {
  color: #fff;
  background-color: $brandPrimary;
  border-color: $brandPrimary;
}

.contextCancelButton {
  color: $brandPrimary;
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
  margin-right: 8px;
  &:hover { background-color: rgba(0, 0, 0, 0.05); }
  &:active { background-color: rgba(0, 0, 0, 0.03); }
  &:disabled {
    cursor: default;
    &:hover { background-color: transparent; }
    &:active { background-color: transparent; }
  }
}

.contextDeleteButton {
  color: $brandDanger;
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
  margin-right: 8px;
  &:hover { background-color: rgba(0, 0, 0, 0.05); }
  &:active { background-color: rgba(0, 0, 0, 0.03); }
  &:disabled {
    cursor: default;
    &:hover { background-color: transparent; }
    &:active { background-color: transparent; }
  }
}

.contextDeleteSegmentButton {
  color: $grayDarker;
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
  margin-right: 8px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: $grayDarkest;
  }
  &:active { background-color: rgba(0, 0, 0, 0.03); }
  &:disabled {
    cursor: default;
    &:hover { background-color: transparent; }
    &:active { background-color: transparent; }
  }
}
