// Import any global ../variables from "../../../variables/*.scss"
@import "../../variables/colors.scss";
@import "../../variables/fonts.scss";
@import "../../variables/spacing.scss";

$buttonBorderColor: $gray;

.button {
  display: inline-block;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;

  height: 40px;
  line-height: 38px;
  text-decoration: none;
  outline: none;
  border-radius: $borderRadiusBase;
  border: 1px solid transparent;

  font-family: $fontBase;
  font-size: 14px;
  font-weight: bold;

  cursor: pointer;
  user-select: none;
  transition: all 100ms ease-in-out;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;

  &:hover, &:focus { box-shadow: 0 2px 4px 0 rgba(34,42,46,0.09); }
  &:active {
		border-color: $brandPrimary;
    box-shadow: 0 2px 4px 0 rgba(34,42,46,0.09);
	}

  &:disabled {
    color: $grayDarker;
    border-color: $grayLight;
    cursor: default;
    &:hover, &:focus { box-shadow: none; }
    &:active { border-color: $buttonBorderColor; }
  }
}

.small {
  font-weight: normal;
  height: 24px;
  line-height: 22px;
  font-size: 13px;
  padding-left: 4px;
  padding-right: 4px;
}
.large {
  height: 50px;
  line-height: 48px;
  font-size: 18px;
}

$themes: primary $brandPrimary,
         danger $brandDanger,
         warning $brandWarning,
         success $brandSuccess,
         muted $brandMuted;

@each $entry in $themes {
  $name: nth($entry, 1);
  $color: nth($entry, 2);
  .#{$name} {
    &.default {
      color: $color;
      background-color: #fff;
      border-color: $gray;
    }
    &.default:hover, &.default:focus { box-shadow: 0 2px 6px 0 rgba(34,42,46,0.09); }
    &.default:disabled {
      color: $grayDarker;
      background-color: $grayLight;
      border-color: $grayLight;
    }
    &.default:active { border-color: $color; }
    &.default:hover:disabled, &.default:active:disabled { box-shadow: none; }

    &.filled {
      color: #fff;
      background-color: $color;
      border-color: $color;
    }
    &.filled:hover, &.filled:focus { box-shadow: 0 2px 6px 0 rgba(34,42,46,0.09); }
    &.filled:disabled {
      color: $grayDarker;
      background-color: $grayLight;
      border-color: $grayLight;
    }
    &.filled:hover:disabled, &.filled:active:disabled { box-shadow: none; }

    &.underline {
      color: $color;
      background-color: transparent;
      border-color: transparent;
      text-decoration: underline;
    }
    &.underline:hover, &.underline:focus {
      border-color: $gray;
      box-shadow: none;
    }
    &.underline:active { border-color: $color; }
    &.underline:disabled {
      color: $grayDarker;
      background-color: $grayLight;
    }
    &.underline:hover:disabled, &.underline:active:disabled { border-color: transparent; }
  }
}




.buttonGroup {
  white-space: nowrap;
}
.buttonGroup .button {
  margin-left: 4px;
  margin-right: 4px;
}
.buttonGroup > .button:first-child { margin-left: 0px; }
.buttonGroup > .button:last-child { margin-right: 0px; }
