// Import any global ../variables from "../../../variables/*.json"
@import "../../variables/colors.json";
@import "../../variables/fonts.json";
@import "../../variables/spacing.json";

.button {
  box-sizing: border-box;

  height: 40px;
  color: $gray-darkest;
  background-color: #fff;
  outline: none;
  border: 1px solid $gray-darker;
  border-radius: $border-radius-base;

  font-family: $font-base;
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  cursor: pointer;
  user-select: none;
  transition: all 100ms ease-in-out;

  padding-left: 16px;
  padding-right: 16px;

  &:hover { opacity: 0.9; }
  &:active { opacity: 1; }
  &:disabled {
    opacity: 0.5;
    cursor: default;
    &:hover { opacity: 0.5; }
  }
}

.small {
  font-weight: normal;
  height: 24px;
  font-size: 13px;
  padding-left: 4px;
  padding-right: 4px;
}
.large {
  height: 50px;
  font-size: 18px;
}

.primary {
  color: #fff;
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.dangerMuted {
  color: $brand-danger;
  background-color: $gray-light;
  border-color: $gray-light;
}
