@import "../../variables/colors.scss";
@import "../../variables/spacing.scss";

.toast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: $borderRadiusBase;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);

  line-height: 1;

  user-select: none;
  opacity: 0;
  pointer-events: none;
  transition: all 100ms ease-in-out;
}
.toast.visible {
  pointer-events: auto;
  opacity: 1;
}

.toastText {
  display: inline-block;
  height: 18px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.toastDismiss {
  color: #fff;
  text-decoration: underline;
  font-weight: 400;
  cursor: pointer;
  margin-left: 24px;
  &:hover { opacity: 0.95; }
  &:active { opacity: 1; }
}


.default { background-color: $midnight; }
.default .toastText { color: #B7D7CF; }

.error { background-color: $red; }
.error .toastText { color: #FFF; }



.multiline {
  padding-top: 8px;
  padding-bottom: 8px;
  height: auto;
}
.multiline .toastText {
  height: auto;
  line-height: 20px;
  white-space: normal;
}
