// Import any global variables from "../../../variables/*.scss"
@import "../../variables/colors.scss";
@import "../../variables/spacing.scss";
@import "../../variables/fonts.scss";

.toast {
  box-sizing: border-box;
  background-color: #fff;

  position: relative;

  width: 100%;

  // color overridden below based on toast type
  border: 1px solid transparent;
  border-radius: $borderRadiusBase;

  min-height: 72px;
  display: flex;
  flex-direction: row;

  font-family: $fontBase;
  font-size: $fontSizeBase;

  &:hover .toast-dismiss { display: block; }
}
.toastPrimary { border-color: $brandPrimary; }
.toastSuccess { border-color: $brandSuccess; }
.toastWarning { border-color: $brandWarning; }
.toastDanger { border-color: $brandDanger; }


// The toast icon is on the left side of the toast and contains a centered toast icon.
.toastIcon {
  width: 72px;

  font-size: $fontSizeXLarge;
  color: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.toastIconPrimary { background-color: $brandPrimary; }
.toastIconSuccess { background-color: $brandSuccess; }
.toastIconWarning { background-color: $brandWarning; }
.toastIconDanger { background-color: $brandDanger; }

.toastIconGlyph {
  width: 72px;
  text-align: center;
}

// The toast body is the right side of the toast; it contains an optional toast header and toast
// text.
.toastBody {
  height: auto;

  font-size: $fontSizeBase;
  font-weight: $fontWeightBase;
  line-height: $lineHeightBase;

  cursor: default;
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 16px;
  margin-right: 16px;
}

// The header of the toast. THis is within a toast body.
.toastHeader {
  font-size: $fontSizeBase;
  font-weight: bold;

  margin-top: 15px;
  margin-bottom: 5px;
}
.toastHeaderPrimary { color: $brandPrimary; }
.toastHeaderSuccess { color: $brandSuccess; }
.toastHeaderWarning { color: $brandWarning; }
.toastHeaderDanger { color: $brandDanger; }

// The main content of the toast. This is within a toast body.
.toastText {
  color: $grayCinder;
  margin-bottom: 12px;
  text-align: left;

  // If the toast doesn't have a title above it, add a similar amount of margin to its top such
  // that its content remains centered in the flex parent.
  &.noTitle { margin-top: 12px; }
}

// The "dismissal" x button in the upper left corner of the toast.
.toastDismiss {
  position: absolute;
  top: 15px;
  right: 15px;

  color: $grayDark;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  // display: none;
  &:hover { opacity: 0.8; }
  &:active { opacity: 1; }
}
