// Import any global variables from "../../../variables/*.scss"
@import "../../variables/colors.scss";
@import "../../variables/spacing.scss";
@import "../../variables/fonts.scss";

.inputBox {
  display: flex;
  align-items: center;
  box-sizing: border-box;

  width: 200px;
  height: 40px;
  padding-right: 16px;
  padding-bottom: 3px;
  border: 1px solid $gray300;
  border-radius: $borderRadiusBase;
  background-color: $white;
  cursor: text;
  font-family: $fontBase;
}

.inputBoxFocused { border-color: $blue; }

.inputBox input {
  flex-grow: 1;
  flex-shrink: 1;
  height: 40px;
  padding-top: 2px;
  margin-left: 16px;
  background-color: transparent;
  border: 0px;
  outline: none;
  color: $gray700;
  font-size: $fontSizeBase;
  font-family: $fontBase;
  width: 100%;

  &::placeholder {
    color: $gray400;
    opacity: 1; // Placeholders in firefox have opacity by default. Undo that.
  }
  &::-ms-input-placeholder { color: $gray400; }
  &:-ms-input-placeholder { color: $gray400; }
}

.inputBoxContainsIcon { padding-left: 16px; }
.inputBoxContainsIcon input { margin-left: 10px; }
.leftIcon {
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: 2px;
}
.leftIcon svg {
  padding-top: 3px;

  *[fill-rule=nonzero] {
    fill: $gray400;
  }
}

.inputBoxTextarea {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-top: 8.5px;
  padding-bottom: 17px;
  padding-left: 17px;
  padding-right: 17px;
  margin: 0;
  border: 1px solid $gray300;
  border-radius: $borderRadiusBase;
  background-color: $white;
  font-family: $fontBase;
  font-size: $fontSizeBase;
  resize: none;
  outline: none;

  &::placeholder {
    color: $gray400;
    opacity: 1; // Placeholders in firefox have opacity by default. Undo that.
  }
  &::-ms-input-placeholder { color: $gray400; }
  &:-ms-input-placeholder { color: $gray400; }
}
.inputBoxTextarea:focus { border-color: $blue; }
.inputBoxDisabled {
  border-color: $gray200;
  background-color: $gray200;
  cursor: not-allowed;

  &::placeholder {
    color: $gray400;
    opacity: 1; // Placeholders in firefox have opacity by default. Undo that.
  }
  &::-ms-input-placeholder { color: $gray400; }
  &:-ms-input-placeholder { color: $gray400; }
}


// Extract common styles into a placeholder selector for selectbox menu list and value
%inputBoxSelectCommon {
  font-family: $fontBase;

  width: calc(100% - 18px - 12px);

  background-color: $white;
  border: 1px solid $gray300;
  border-radius: 4px;

  padding-left: 17px;
  padding-right: 11px;

  user-select: none;
}

.inputBoxSelectBox {
  position: relative;
  width: 200px;
  box-sizing: border-box;

  font-weight: normal;
}

// Select box value - this is the always visible region that shows the currently selected item.
.inputBoxSelectBoxValue {
  @extend %inputBoxSelectCommon;
  height: (40px - 1px - 1px); // (for borders)

  font-size: $fontSizeBase;
  color: $gray700;

  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;
  outline: none;

  & > span {
    margin-top: -2px;
    margin-right: auto;

    &:active {
      opacity: 0.9;
    }
  }
}
.inputBoxSelectBoxValueCaret {
  height: 100%;
  display: flex;
  align-items: center;

  svg *[fill-rule=nonzero] {
    fill: $gray700;
  }
}
.inputBoxSelectBoxValueOpened { border-color: $blue; }

// When disabled, a selectbox is grayed out and can't be clicked.
.inputBoxSelectBoxValueDisabled {
  background-color: $gray200;
  border-color: $gray200;
  pointer-events: none;
  cursor: not-allowed;
}

// Select box menu - this is the menu that is hidden and shown when the user clicks on the select
// box value.
.inputBoxSelectBoxMenu {
  @extend %inputBoxSelectCommon;

  box-sizing: border-box;
  position: absolute;
  top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;

  width: 100%;

  z-index: 999999;
  color: $gray700;
  box-shadow: 0px 2px 4px rgba($gray900, 0.1);
  transition: all 100ms ease-in-out;
  user-select: none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  // When opened, fade in the select box and enable pointer events.
  // NOTE: when the select box is closed, it isn't given `display: none`, because giving it that
  // would make the animation difficult. Instead, it's given `pointer-events: none`, which causes
  // any clicks to not occur on that element and instead be handled by the element underneath it.
  opacity: 0;
  pointer-events: none;
}
.inputBoxSelectBoxMenuOpened {
  opacity: 1;
  pointer-events: all;
}
.inputBoxSelectBoxMenuAnchorLeft {
  left: 0;
}
.inputBoxSelectBoxMenuAnchorRight {
  right: 0;
}

.inputBoxSelectBoxMenuUl {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}

.inputBoxSelectBoxMenuLi {
  line-height: 36px;
  font-size: $fontSizeBase;
  cursor: pointer;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: 8px;
  margin-right: 8px;
  outline: none;
  border-radius: $borderRadiusBase;

  &:focus {
    background-color: $gray100;
    color: $gray700;
    text-decoration: underline;
  }

  &:hover {
    background-color: $gray100;
    color: $gray700;
    text-decoration: underline;
  }
}
.inputBoxSelectBoxMenuLiDisabled {
  color: $gray400;
  cursor: not-allowed;
  &:hover {
    color: $gray400;
    text-decoration: none;
    background-color: transparent;
  }
}

.inputBoxSelectBoxItemHighlight {
  margin-left: 10px;
  color: $gray400;
  font-style: italic;
}

.inputBoxSelectPlaceholder {
  color: $gray400;
}

.invalid { border-color: $red; }


// RULES FOR LIST_VIEW CONTEXT
.contextListView.inputBoxSelectBoxValue {
  height: 36px;
  background: none;
  border: 1px solid transparent;
  font-size: 16px;
}
.contextListView.inputBoxSelectBoxValue.inputBoxSelectBoxValueOpened {
  border: 1px solid $blue;
}
.contextListView.inputBoxSelectBoxMenu {
  top: 41px;
}
.contextListView.inputBoxSelectBoxMenuLi {
  font-size: 16px;
}

// RULES FOR NAVBAR_INLINE CONTEXT
.contextNavbarInline.inputBoxSelectBoxValue {
  height: 30px;
  font-size: 16px;
}
.contextNavbarInline.inputBoxSelectBoxMenu {
  top: 36px;
}
.contextNavbarInline.inputBoxSelectBoxMenuLi {
  font-size: 16px;
}

// RULES FOR ANALYTICS_CONTROL_BAR CONTEXT
.contextAnalyticsControlBar.inputBoxSelectBoxValue {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  color: $gray700;
  background: none;
  border: 1px solid transparent;
}
.contextAnalyticsControlBar.inputBoxSelectBoxValue.inputBoxSelectBoxValueOpened {
  border: 1px solid $blue;
}
