<div class="date-picker date-picker-anchor-left">
  <div class="SingleDatePicker">
    <div>
      <div class="SingleDatePickerInput">
        <div class="DateInput DateInput--open-down">
          <input type="text" aria-label="Date" class="DateInput__input needsclick" id="date" name="date" value="" placeholder="Date" autoComplete="off" aria-describedby="DateInput__screen-reader-message-date" />
          <p id="DateInput__screen-reader-message-date" class="screen-reader-only">Press the down arrow key to interact with the calendar and select a date. Press the question mark key to get the keyboard shortcuts for changing dates.</p>
          <div class="DateInput__display-text">Date</div>
        </div>
      </div>
    </div>
  </div>
</div>
