// Import any global variables from "../../../variables/*.json"

// Local variables to the component
@import "variables.json";

.dashboardReportGrid {
  display: flex;
  flex-direction: row;

  max-width: 1440px;
}
.dashboardReportGridColumn {
  flex: 1;
  width: 320px;

  display: flex;
  flex-direction: column;

  margin-left: 20px;
  margin-right: 20px;
  &:first-of-type { margin-left: 0px; }
  &:last-of-type { margin-right: 0px; }
}
.dashboardReportGridCell {
  margin-top: 20px;
  margin-bottom: 20px;
}
