// Import any global variables from "../../variables/*.json"
@import "../../variables/spacing.json";
@import "../../variables/colors.json";
@import "../../variables/fonts.json";

// Local variables to the component
@import "variables.json";

@mixin make-pager-button(
  $font-size: $font-size-large,
  $color: $gray,
  $active-color: $gray-darker
) {
  display: inline-block;
  background-color: #fff;
  width: $font-size + 6px; // 6px = horizontal padding
  color: $color;

  font-family: $font-base;
  font-size: $font-size;

  cursor: pointer;
  user-select: none;

  text-align: center;
  padding: 6px;

  // The first and last buttons have a radius on them, this gives the whole assembly a "pill" shape.
  &:first-child {
    border-top-left-radius: $border-radius-small;
    border-bottom-left-radius: $border-radius-small;
  }
  &:last-child {
    border-top-right-radius: $border-radius-small;
    border-bottom-right-radius: $border-radius-small;
  }

  &:active {
    color: $active-color;
  }

  // Make sure neighboring buttons share only a single border.
  border: 1px solid $gray-lighter;
  & + & {
    border-left-width: 0px;
  }
}

.pager-button {
  @include make-pager-button;
}
