// ==========================
// storybook-styles.scss
// Styles to change how the storybook looks, not the components
// ==========================
@import "../node_modules/normalize.css/normalize.css";

// Put some spacing around each example
#root {
  padding-left: 10px;
  padding-top: 10px;
  width: 400px;
  height: 400px;
}

// If an example should be full width, Make it wider.
#root .full-width {
  width: 99vw;
  margin-left: -10px;
  margin-top: -10px;
}
