// Import any global variables from "../../variables/*.json"
@import "../../variables/fonts.json";
@import "../../variables/colors.json";
@import "../../variables/spacing.json";

// Local variables to the component
@import "variables.json";

@mixin make-floorplan($color: $floorplan-color) {

  // Hack to hide a rect that the pan zoom component makes
  g[transform*=matrix] > rect {
    display: none;
  }

  .floorplan-container {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

@mixin make-floorplan-popup {
  position: absolute;
  min-width: 400px;
  min-height: 200px;
  background-color: white;
  z-index: 100;
  border-radius: $border-radius-base;
  border: 1px solid #B4B8BF;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);

  cursor: default;

  // When `opacity: 1` is applied, fade in the popup.
  transition: opacity 150ms cubic-bezier(0.65, 0.05, 0.36, 1);

  // By default, hide the popup and make it not respond to click events.
  opacity: 0;
  pointer-events: none;

  font-family: $font-base;
}

@mixin make-floorplan-cursor {
  position: fixed;
  z-index: 1;
  white-space: nowrap;

  user-select: none;
  pointer-events: none;
  opacity: 0.8;

  & > svg {
    transform: translate(-10px, -13px);
  }

  .floorplan-cursor-tag {
    color: #fff;
    background-color: $gray-cinder;
    padding: 7px;
    border-radius: 4px;

    font-family: $font-base;
    font-size: 12px;

    position: relative;
    top: -17px;
  }
}

.floorplan { @include make-floorplan; }
.floorplan-popup { @include make-floorplan-popup; }
.floorplan-cursor { @include make-floorplan-cursor; }
